@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my friend site</h1>
       <p>On this site you can learn more about my friends and find information like addresses, pets and favorite quotes.</p>
        <p>Alexandra Helmersson</p>
</div>
