@page

@using AppRazor.Pages.Friends
@using System.Collections.Generic
@using System.Linq
@using Models.DTO

@model AppRazor.Pages.Friends.OverviewCityModel
@{
    ViewData["Title"] = "Overview " + Model.Country;
}

       <div class="container px-4 py-4" id="webapi-info">
          <h2 class="pb-2 border-bottom">Friends overview by city in @Model.Country.</h2>
          <p>Below is the number of friends who live in each city and their total number of pets.</p>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 py-5">

          @foreach (var item in Model.FriendsInfo)
          {
            <div class="col d-flex align-items-start">
              <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#buildings"/></svg>
              <div>
                <h3 class="fw-bold mb-0 fs-3 text-body-emphasis">@item.City</h3>
                <p class="fs-4 mb-0">@item.NrFriends friends</p>
              
                @if(Model.PetsInfo?.FirstOrDefault(p => p.City == item.City)?.NrPets != null)  {<p class="fs-4 mb-0"> @Model.PetsInfo.FirstOrDefault(p => p.City == item.City)?.NrPets pets</p> }
                else{
                  <p class="fs-4 mb-0">0 pets</p>
                }
              </div>
            </div>   
          }
          </div>
        </div>
      